<div>
  <h2 id="page-heading" data-cy="RecipeHeading">
    <span jhiTranslate="recipehipsterApp.recipe.home.title">Recipes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="recipehipsterApp.recipe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recipe"
        [routerLink]="['/recipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="recipehipsterApp.recipe.home.createLabel"> Create a new Recipe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recipes?.length === 0">
    <span jhiTranslate="recipehipsterApp.recipe.home.notFound">No recipes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recipes && recipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="recipehipsterApp.recipe.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes">
            <span jhiTranslate="recipehipsterApp.recipe.notes">Notes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ingredients">
            <span jhiTranslate="recipehipsterApp.recipe.ingredients">Ingredients</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="steps">
            <span jhiTranslate="recipehipsterApp.recipe.steps">Steps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="postDate">
            <span jhiTranslate="recipehipsterApp.recipe.postDate">Post Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="chefster.id">
            <span jhiTranslate="recipehipsterApp.recipe.chefster">Chefster</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let recipe of recipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recipe', recipe.id, 'view']">{{ recipe.id }}</a>
          </td>
          <td>{{ recipe.title }}</td>
          <td>{{ recipe.notes }}</td>
          <td>{{ recipe.ingredients }}</td>
          <td>{{ recipe.steps }}</td>
          <td>{{ recipe.postDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="recipe.chefster">
              <a [routerLink]="['/chefster', recipe.chefster?.id, 'view']">{{ recipe.chefster?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/recipe', recipe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/recipe', recipe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
