<div>
  <h2 id="page-heading" data-cy="OpinionHeading">
    <span jhiTranslate="recipehipsterApp.opinion.home.title">Opinions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="recipehipsterApp.opinion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-opinion"
        [routerLink]="['/opinion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="recipehipsterApp.opinion.home.createLabel"> Create a new Opinion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="opinions?.length === 0">
    <span jhiTranslate="recipehipsterApp.opinion.home.notFound">No opinions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="opinions && opinions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="recipehipsterApp.opinion.contents">Contents</span></th>
          <th scope="col"><span jhiTranslate="recipehipsterApp.opinion.commentDate">Comment Date</span></th>
          <th scope="col"><span jhiTranslate="recipehipsterApp.opinion.post">Post</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opinion of opinions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/opinion', opinion.id, 'view']">{{ opinion.id }}</a>
          </td>
          <td>{{ opinion.contents }}</td>
          <td>{{ opinion.commentDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="opinion.post">
              <a [routerLink]="['/post', opinion.post?.id, 'view']">{{ opinion.post?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/opinion', opinion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/opinion', opinion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(opinion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
